
ion-segment-button {
    background-color: var( --ion-color-primary) !important;
    color: rgb(38, 19, 216) !important;
}

.segment-button-checked {
    color: var( --ion-color-primary ) !important;
}