/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


//Estilos propios

.text-primary {
    color: var( --ion-color-primary ) !important;
}

.noticia-source-name {
    font-size: 12px;
    color: lightgray;
}

.action-dark, .action-sheet-group{
    background-color: var(--ion-color-dark) !important;
    color: rgb(27, 49, 148) !important;
    
}

.action-dark ion-icon {
    color: rgb(21, 17, 212) !important;
}

.ios .action-sheet-icon{
    display: none !important;
}

.tab-selected{
    color: var( --ion-color-primary ) !important;
}

:root {
    --ion-color-secondary: #b6bc00;
    --ion-color-secondary-rgb: 0,102,0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #005a00;
    --ion-color-secondary-tint: #1a751a;
  }

  :root {
    --ion-color-primary: #3490b0;
    --ion-color-primary-rgb: 0,102,0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #005a00;
    --ion-color-primary-tint: #1a751a;
  }