<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      DAM's news
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="primary" [fullscreen]="true">

<app-noticias [noticias]="noticias"></app-noticias>


<ion-infinite-scroll threshold="150px" 
(ionInfinite)="loadData( $event )">
<ion-infinite-scroll-content loadingSpinner="crescent"
          loadingText="Cargando data...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>

  <app-explore-container name="Tab 1 page">
 
  </app-explore-container>
</ion-content>
